{% extends 'blog/base.html' %} {% block content %} {% load staticfiles %}

<div class="post">
    <div style="float:left; margin-right: 10;">
        {% if post.author.profile.profile_photo %}
        <img class="round" src="{{post.author.profile.profile_photo.url}}" width="30"> <br> {% else %}
        <img class="round" src="{% static 'blog/images/default_profile.jpg' %}" width="30"> <br> {% endif %}
    </div>
    <div style="font-size: x-large; width: 100; margin: 0;float: left;">
        <a href="{% url 'profile' post.author.pk %}"> {{ post.author }}
        </a>
    </div>
    {% if post.published_date %}
    <div>
        <div style="float: right;">
            <br /> {% if user == post.author %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span
                    class="glyphicon glyphicon-remove"></span></a>{% endif %}{% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span
                    class="glyphicon glyphicon-remove"></span></a> {% endif %}

        </div>
        <br>
        <hr>
        <h1>
            <img src="/media/{{ post.image }}"> {{form.as_p}}
        </h1>
        <p>{{ post.content|linebreaksbr }}</p>
        <a class="btn btn-default" href="{% url 'post_like' post.id %}">좋아요</a> &nbsp;
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a><br><br>
        <a href="{% url 'post_likelist' pk=post.pk %}">
            <p>좋아요 {{ post.like_count }}개</p>
        </a>
        <br> {% for person in post.like_people %}
        <p><a href="{% url 'profile' person.pk %}">{{ person }}</a></p>
        {% endfor %}
        <div class=" date">
            {{ post.published_date }}
        </div>
    </div>
    <hr /> {% for comment in post.comments.all %} {% if user.is_authenticated or comment.approved_comment %}

    <div class="comment">

        <a href="{% url 'profile' comment.author.pk %}"> <strong>{{ comment.author }}</strong>
        </a>

        <div class="date">
            {{ comment.created_date }} {% if user == comment.author %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span
                    class="glyphicon glyphicon-remove"></span></a> {% endif %}
        </div>

        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %} {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}{% endblock %}
</div>