{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<div class="post">
    <div class="author">
        <a href="{% url 'profile' post.author.pk %}"> {{ post.author }}
        </a>
    </div>
    <h1>
        <a href="{% url 'post_detail' pk=post.pk %}">
            <form enctype="multipart/form-data" action="" method="post"><img src="/media/{{ post.image }}">
        </a>
    </h1>
    <p>{{ post.content|linebreaksbr }}</p>
    <a class="btn btn-default" href="{% url 'post_like' post.id %}">좋아요</a> &nbsp;
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a><br><br>
    <a href="{% url 'post_detail' pk=post.pk %}"> 좋아요: {{ post.like_count }}개 댓글:
        {{ post.approved_comments.count }}개</a>
    <br> <br>
    <div class="date">
        {{ post.published_date }}
    </div>
    <hr>
</div>
{% endfor %} {% endblock %}